<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd">
           
    <bean id="azam" class="com.bridgelabz.di.Student">
    	<property name="studentName" value="My Name is Azam..."/>
    	<property name="id" value="1"></property>
    </bean>
    
    <bean id="ali" class="com.bridgelabz.di.Student">
    	<property name="studentName" value="My Name Is Ali"/>
    	<property name="id" value="2"></property>
    </bean>
</beans>